.scene {
  position: relative;
  display: grid;
  background: rgb(219, 219, 219);
  color: white;
  width: 400px;
  height: 400px;
}

.end {
  background: rgb(54, 54, 54) !important;
  transition: background 3s linear;
}

.wasted {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  font-size: 40pt;
  font-weight: bold;
  text-shadow: rgb(124, 124, 124) 0 0 10px;
}

.wasted .endScore {
  font-size: 20pt;
  font-weight: normal;
  color: red;
}

.block {
  background: yellow;
  border-radius: 5px;
  grid-area: 1/1/2/2;
  transition: translate 0.2s linear;
}

.dead {
  background: rgb(107, 84, 84) !important;
  transition: translate 3s linear, background 3s linear;
}

.fruit {
  background: red;
  border: rgb(141, 0, 0) solid 1px;
  border-radius: 50%;
  margin: 20%;
  box-shadow: black 0 0 5px;
  color: black;
  font-weight: bold;
}
